name: Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make
      - run: sudo apt update && sudo apt -y install lcov
      - run: |
          cd src/cpu
          cargo make cov
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: src/cpu/tests/build/CMakeFiles/test_autd3-firmware.dir/coverage.info
          disable_search: true
          fail_ci_if_error: true
